/* Color Theme Swatches in Hex */
$color-1: #5c4b51;
$color-2: #8cbeb2;
$color-3: #f2ebbf;
$color-4: #f3b562;
$color-5: #f06060;

$color-red: $color-5;
$color-brown: $color-1;
$color-yellow: $color-4;
