$font-fallback: 'Segoe UI', Tahoma, Geneva, 'Helvetice Neue', Helvetica, Verdana, sans-serif;
$font-fallback-headline: Georgia, 'Times New Roman', Times, serif;

$font-headline: 'Merriweather', $font-fallback-headline;
$font-subheadline: 'Merriweather', $font-fallback;
$font-base: 'Roboto', $font-fallback;
$font-menu: 'Roboto', $font-fallback;
$font-quote: 'Roboto', $font-fallback;

$font-size-base: 16px;
$font-size-menu: 14px;

$font-size-subheadline: 32px;
$font-size-headline: 38px;
